trigger:
- main

pool:
  azure_local_pool
  #vmImage: ubuntu-latest
  #MylocalPool
  
variables:
  LT_USERNAME: 'vaneetb'
  LT_ACCESS_KEY: '8iwAZa7mEGu7pc41aIkNJpnvHFc5lcIgy1cF4joZatI0lWvP1u'
  LT_BUILD_NAME: 'Azure_testng_demo'

stages:
- stage: BuildAndTest
  jobs:
  - job: BuildAndTestJob
    steps:
      - task: configuration@1
        inputs:
            connection: vaneet-test
            #isTunnelActivate: true
            #tunnelOptions: '{"tunnelName": "ABC"}'
      - script: |
          mvn clean install -DskipTests
      - script: "mvn test -D suite=single.xml"
        displayName: "Command Line Script"
      - task: LambdatestResults@1
        
# - stage: LambdatestResults
#   jobs:
#   - job: LambdatestResultsJob
#     steps:
#       - script: |
#           echo "Hello"